{% extends 'base.html' %}
{%block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
       {% block title %}Register{% endblock title %}
    </title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'style.css'%}">
{%endblock head%}
{%block body%} 
<h2>Register</h2>
<form method="POST" action="/register">
    {% csrf_token %}
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name"aria-describedby="emailHelp" placeholder = "Enter your name">
    </div>
    <div class="mb-3">
        <label for="Roll" class="form-label">Roll no</label>
        <input type="text" class="form-control" id="roll" name="roll"aria-describedby="emailHelp" placeholder = "Enter your roll number">
      </div>
    <div class="mb-3">
        <label for="Year" class="form-label">Passing out Year</label>
        <input type="text" class="form-control" id="year" name="year"aria-describedby="emailHelp" placeholder = "Enter your year of pasing in figures">
      </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder = "Enter your personal e mail">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="Phone" class="form-label">Contact Number</label>
        <input type="text" class="form-control" id="phone" name="phone" aria-describedby="emailHelp" placeholder = "Enter your contact">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body %}